spring:
  application:
    name: StudyRooms

  datasource:
    url: jdbc:h2:file:./LOCAL_DATA/h2/studyrooms;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=TRUE
    username: sa
    password: changeme
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update        # για ανάπτυξη, να κρατάει τα δεδομένα
    open-in-view: false
    properties:
      hibernate.dialect: org.hibernate.dialect.H2Dialect
      hibernate.format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080
